@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    position: relative;
}

a {
    color: unset;
    text-decoration: unset;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgba(235, 252, 255,1);
    text-decoration-color: unset;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 0;
}

h2 {
    font-family: 'Rosario', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 25px;
}

h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 0px; 
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 23px;
}

.svg-img {
    width: 30px;
    height: 30px;
    transform: rotate(325deg);
}

.pattern {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 85px;
    justify-items: center;
    z-index: -2;
}

.pattern-box {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    display: none;
    margin: 0 15px;
    background-color: rgba(235, 252, 255, 0.7);
    border: 4px solid #081E21;
    -webkit-box-shadow: 22px 21px 4px -2px rgba(15, 113, 187, 0.48);
    -moz-box-shadow: 22px 21px 4px -2px rgba(15, 113, 187, 0.48);
    box-shadow: 22px 21px 4px -2px rgba(15, 113, 187, 0.48);
}

.title {
    position: absolute;
    top: 8.5%;
    right: 9%;
    z-index: 0;
}

.title::after {
    content: "";
    display: flex;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,1);
    position: absolute;
    top: -30px;
    right: 1px;
    margin: auto 0;
    z-index: -1;
}

.title:hover:hover::after {
    height: 180%;
    transition-duration: 0.6s, 1s;
}

.description {
    padding: 5px;
    height: 188px;
}

.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    row-gap: 75px;
    padding: 35px 15px;
}

.card {
    border: 3px solid black;
    padding: 10px;
    height: 100%;
}

.card:hover {
    -webkit-box-shadow: 23px 17px 3px -3px rgba(48, 152, 232, 0.41);
    -moz-box-shadow: 23px 17px 3px -3px rgba(48, 152, 232, 0.41);
    box-shadow: 23px 17px 3px -3px rgba(48, 152, 232, 0.41);
    transition: 0.6s;
    transform: translate3d(-5px, -5px, -5px);
}

.box {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-position: center;
    object-fit: cover;
    border: 1px solid black;
}

.author {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: black;
    width: 15%;
    bottom: 0;
}

.author p {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: white;
}

.buttons-box {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

.buttons-box2 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
}


/*.button {
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}*/

.prev, .next {
    position: absolute;
    top: 50%;
    color: #FFF;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 35px;
    height: 50px;
    border: none;
    cursor: pointer;
    appearance: none;
}

.prev {
    left: 0;
}
.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: red;  
    transition: 0.2s;
}

.icon {
    float: right;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.rotate-img {
    transform: rotate(1deg);
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* @keyframes fade {
    from {
        opacity: .4
    }
    to {opacity: 1}
  } */

/* Responsive */

@media screen and (min-width: 320px) and (max-width: 424.85px) {
    
    body {
        margin: 0;
        padding: 0;
    }

    .content-box {
        display: none;
        height: auto;
        margin: 70px 0;
        -webkit-box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);
        -moz-box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);
        box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);        
    }

    .grid-wrap {
        grid-template-columns: 1fr;
    }

    .title {
        right: 8%;
        top: 53px;
    }

    .pattern {
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        max-height: 1800px;
        gap: 75px;
    }

    .pattern-box {
        align-items: unset;
        height: unset;
    }

    .buttons-box, .buttons-box2 {
        display: none;
    }

    .box {
        padding: 0;
        align-items: unset;
        max-width: unset;
        max-height: unset;
        height: unset;
    }

    .author {
        width: 60%;
        height: 2%;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        justify-content: flex-start;
        padding-left: 10px;
        padding-right: 0;
    }

    .next, .prev {
        top: 98%;
    }

    .next {
        right: 30%;
    }

    .prev {
        left: 30%;
    }

    .img {
        height: 120px;
    }
}



@media screen and (min-width: 425px) and (max-width: 767.85px) {
    .grid-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-box {
        -webkit-box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);
        -moz-box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);
        box-shadow: 9px 12px 4px -2px rgb(15 113 187 / 48%);
    }

    .title {
        right: 20%;
    }

    .pattern {
        gap: 75px;
        max-height: unset;
    }

    .pattern-box {
        height: unset;
        grid-template-columns: repeat(3, 1fr);

    }

    .author {
        width: 25%;
    }

    .buttons-box, .buttons-box2 {
        display: none;
    }

    .box {
        padding: 0 15px;
        height: unset;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    body {
        margin: 0;
    }

    .box {
        top: 49px;
    }

    .title {
        top: -19px;
    }

}